// Add your custom CSS here.
.rounded-icon {
    border: 1px solid #ff0000;
}

.info-bar {
    background: #ffffff;
    color: #3b3a3a;
}

.i-shipping-fast .i-credit-card .i-exchange .i-percent {
    color: 1px solid #ff0000;
}